<footer class="page-footer font-small bg-white pt-4 b-top">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="font-weight-bold text-dark font-family">Siga nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/jessicaacordeiro" target="_blank" class="icoFacebook">
                            <img src="https://i.imgur.com/TfsuRGk.png" alt="íconed do facebook" width="30px" height="30px">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jessica-a-cordeiro/" target="_blank" class="icoLikedin">
                            <img src="https://i.imgur.com/VxTGuZm.png" alt="ícone do linkedin" width="30px" height="30px">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/jessicasweetie_/" target="_blank" class="icoInstagram">
                            <img src="https://i.imgur.com/Qetu8Gu.png" alt="íconed do instagram" width="30px" height="30px">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3 font-family">
        <span class="text-white"> © 2021 Copyright: </span>
        <a class="text-white">Jéssica Cordeiro</a>
    </div>

</footer>
