<div class="container-fluid fundo-entrar">
    

    <div class="row" id="img-grade">

        <div class="col-md-6 d-flex align-items-center">
            <div class="row d-flex justify-content-center">
            
                <div class="col-md-6">
                    <div class="entrar">
                        <header class="top">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <i class="fa fa-window-maximize" aria-hidden="true"></i>
                            <i class="fa fa-window-minimize" aria-hidden="true"></i>
                        </header>
                        <h1 class="font-family font-weight-bolder text-center mt-5">Entrar</h1>

                        <div class= "label-float font-family">
                            <input [(ngModel)] = 'userLogin.usuario' type="text" name="usuario" id="usuario" placeholder="" required>
                            <label id="userLabel" for="usuario">Usuário</label>
                        </div>

                        <div class="label-float font-family">
                        <input [(ngModel)] = 'userLogin.senha' type="password" name="senha" id="senha" placeholder="" required>
                            <label id="userLabel" for="senha">Senha</label>
                        </div>

                        <div class="d-flex justify-content-center mt-5">
                            <button type="submit" class="font-family font-weight-bolder" (click)='entrar()'>Entrar</button>
                        </div>

                        <p class="text-center mt-4 font-family font-weight-bolder">
                            Não tem uma conta? <a class="text-dark" routerLink='/cadastrar'>Cadastre-se Agora!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="img-sd"></div>
    </div>
</div>
