<div class="container-fluid">

    <div class="row fundo-superior d-flex align-items-center">
        <div class="col-md-9">

            <img class="mt-5 img-frase" src="https://i.imgur.com/DdU2vPw.png" alt="" width="190px" height="190px">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 font-family">
                    <h1>SEJA BEM VINDO!</h1>
                    <h5>Expresse aqui seus<br>pensamentos & opiniões...</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-8 font-family">
                    <button>NOVA POSTAGEM</button>
                    <a href="">VER POSTAGENS</a>
                </div>
            </div>

        </div>


        <div class="col-md-3 d-flex justify-content-center mt-5 mb-5" id="img-superior-lateral">
            <img src="../../assets/img/img-superior.gif" alt="" width="480px" height="480px"> 
        </div>
    </div>

</div>

<div class="container mt-5 mb-5">

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center font-family" id="nav-tab" role="tablist">
          
            <a class="nav-item nav-link active font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">TODAS AS POSTAGENS</a>
          
            <a class="nav-item nav-link font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">MINHAS POSTAGENS</a>
          
            <a class="nav-item nav-link font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="nav-postagensTema" aria-selected="false">POSTAGENS POR TEMA</a>
        </div>
    </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
            ...
            </div>
            <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">...</div>
            <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">...</div>
        </div>
</div>
